<nav class="joyce-navwrap">
  <a href="{{ '/'          | relative_url }}" class="joyce-nav{% if page.url == '/' %} active{% endif %}">Home</a>
  <a href="{{ '/research/' | relative_url }}" class="joyce-nav{% if page.url == '/research/' %} active{% endif %}">Research</a>
  <a href="{{ '/teaching/' | relative_url }}" class="joyce-nav{% if page.url == '/teaching/' %} active{% endif %}">Teaching</a>
  <a href="{{ '/cv/'       | relative_url }}" class="joyce-nav{% if page.url == '/cv/' %} active{% endif %}">CV</a>
</nav>

